include ../components/InputChat

mixin Home
    div(class="d-flex col-12 col-sm-10 col-md-6 col-lg-4 col-xl-4 mx-auto overflow-auto")
        div(v-for="user in users" class="mx-2" )
            img(:src="'http://lorempixel.com/350/230/cats/'+(2+user.id)" :class="{offline:!user.status}" class="d-block photo rounded-circle" alt="photo")
            h6() {{user.name}}
                span(class="status " :class="{'bg-dark':!user.status, 'bg-success':user.status}")
                
    form(method="POST" @submit.prevent="sendMessage" class="col-12 col-sm-10 col-md-6 col-lg-8 col-xl-8 mx-auto chat-component")
        div(class="card chat-messages overflow-auto")

            div( v-for="item in messages"
                class="m-2 alert alert-dismissible d-table "
                :class="{'alert-success mr-auto': item.user==status.user.email , 'alert-info ml-auto': item.user!=status.user.email }" 
               ) {{item.message}}
                small(id="emailHelp" class="form-text text-muted") {{item.user}}
                
        div(class="chat-input")
            +InputChat("Write message...","message")
        div(class="chat-send")
            button(class="btn btn-success") Send