extends ../layout

include ./Home
include ./Login
include ./SignIn

block content

    div(class="row" v-if="router.home")
        +Home()
    div(v-if="router.login")
        +Login()
    div(v-if="router.signIn")
        +SignIn()