-
    let host="http://localhost:8000";

    let metadata={
      //Meta
      siteName : 'Chat-node',                                         //Title
      description: 'Chat create with node/vue',                       //Description
      keyWorlds :'node vue javaScript chat',                          //KeyWorlds
      author:'Ramos Aparicio',                                        //Author
      copyright:'© 2020',                                             //Copyright

    }
