include ./partials/Navbar

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="./css/bootstrap.min.css")
        title Chat with Node
    body
        +Navbar()
      
        #app.container.mt-5.pt-5
            block content
    
    script(src="./js/libs/jquery.js")
    script(src="./js/libs/popper.js")
    script(src="./js/libs/bootstrap.js")
    script(src="./js/libs/vue.js")
    script(src="./socket.io/socket.io.js" )
    script(src="./js/main.js" )
    









