include ../components/LinkItem

mixin Navbar
	nav( class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top ")
		h1(class="navbar-brand") Chat Node
		button( class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation")
			span(class="navbar-toggler-icon")
		
		div(class="collapse navbar-collapse" id="navbarColor01")
			
			ul(class="navbar-nav mr-auto" )
				li(class="nav-item" v-if="status.user")
					router-link(class="nav-link" to="/" ) Home
				li(class="nav-item" v-if="!status.user")
					router-link(class="nav-link" to="/sing" ) Register
				li(class="nav-item" v-if="!status.user")
					router-link(class="nav-link" to="/login" ) Login
		
			form(class="form-inline my-2 my-lg-0")
				input(class="form-control mr-sm-2" type="text" placeholder="Search")
				button(class="btn btn-secondary my-2 my-sm-0" type="submit") Search