
mixin Navbar
	nav( class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top ")
		h1(class="navbar-brand") Chat Node/Vue
		button( class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation")
			span(class="navbar-toggler-icon")
			
		div(class="collapse navbar-collapse" id="navbarColor01")
			ul(class="navbar-nav ml-auto")
				li(class="nav-item" v-if="statusUser" @click="changeRoute('home')")
					a(class="nav-link" ) Home
				li(class="nav-item" v-if="!statusUser" @click="changeRoute('signIn')")
					a(class="nav-link" ) Register
				li(class="nav-item" v-if="!statusUser" @click="changeRoute('login')")
					a(class="nav-link") Login
					
				li(class="nav-item" v-if="status.user")
					button(class="btn btn-danger" @click="logoutUser") Logout 